:root {
  --color-p0: #FF7F50;
  --color-p0-background: #ffadad;
  --color-p1: #ffd700;
  --color-p1-background: #ffd6a5;
  --color-p2: #87ceeb;
  --color-p2-background: #abd7f1;
  --color-p3: #d3d3d3;
  --color-p3-background: #ffffff;
  --color-tag1-background: #ffadad;   /* lighter pastel pink */
  --color-tag2-background: #ffd6a5;   /* closer to white light grey */
  --color-tag3-background: #fdffb6;   /* lighter pastel green */
  --color-tag4-background: #caffbf;   /* lighter pastel apricot */
  --color-tag5-background: #9bf6ff;   /* lighter pastel blue */
  --color-tag6-background: #abd7f1;   /* lighter pastel yellow */
  --color-tag7-background: #bdb2ff;   /* lighter pastel purple */
  --color-tag8-background: #e5c185;   /* lighter pastel cyan */
}

/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.setting-item.column {
	flex-direction: column;
	align-items: stretch;
}

.setting-item.column .setting-item-control {
	margin-top: var(--size-4-2);
}

.setting-item.column .setting-item-control > input {
	width: 100%;
}
